.Portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 150px;
  min-height: auto;
  flex: 1;

  .worksList {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}