.Skills {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 80vh;

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 150px;
    padding: 60px 0;
    flex: 1;

    .skills {
      grid-gap: 20px;
      align-items: normal;
      -webkit-column-gap: 20px;
      column-gap: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      max-width: 900px;
      row-gap: 60px;
      width: 100%;
    }

    .about {
      font-size: 18px;

      > a {
        color: var(--accent-color);
      }
    }
  }
}