.Card {
  display: flex;
  align-items: center;
  column-gap: 60px;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  .desc {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 530px;

    @media screen and (max-width: 570px) {
      width: 100%;
    }

    @media screen and (max-width: 570px) {
      align-items: center;
    }

    > h3 {
      font-size: 22px;
      color: var(--accent-color);
    }

    > p {
      color: var(--primary-accent-color);
      word-break: break-word;
    }

    > span {
      opacity: 0.9;
      color: var(--primary-accent-color);

      > a {
        color: var(--accent-color);
      }
    }
  }

  &:hover {
    .card {
      transform: scale(105%);

      &:after {
        transform: scale(100%) translateY(-50%) translateX(50%);
        z-index: 1;
      }

      > div {
        filter: blur(1px);
      }
    }
  }

  .card {
    transition: 0.2s ease-in-out;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%) translateX(50%) scale(1%);
      right: 50%;
      content: 'Demo';
      font-size: 22px;
      padding: 5px;
      color: white;
      border-radius: 10px;
      background-color: #2fbf71;
      transition: 0.2s ease-in-out;
    }

    .cardImg {
      border-radius: 10px;
      height: 200px;
      width: 320px;
      background-position: center;
      background-size: cover;

      @media screen and (max-width: 350px) {
        width: 90vw;
      }

      @media screen and (max-width: 290px) {
        width: 80vw;
      }
    }
  }
}