.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 250px;
  background-color: var(--bg-accent-color);
  z-index: 2;
  transition: 0.2s transform ease-in-out;

  .scrollBar {
    .logo {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      padding: 65px 10px 10px;
      overflow: hidden;

      .img {
        z-index: 1;
        height: 160px;
        width: 160px;
        border-radius: 50%;
        border: 5px solid #fff;
        background-image: url("../../../shared/assets/icons/avaWBG.png");
        background-position: center;
        background-size: cover;
      }

      & > h5 {
        text-align: center;
        word-break: break-word;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 7px;
        color: var(--primary-accent-color);
      }

      &::after {
        content: "";
        width: 343px;
        height: 261px;
        position: absolute;
        border-radius: 50%;
        left: -85px;
        top: -149px;
        background-color: var(--accent-color);
      }
    }
  }

  @media screen and (max-width: 1420px) {
    position: absolute;
    transform: translateX(-260px);
  }
}

.showHeader {
  transform: translateX(0);
}