.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100vh;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
      max-width: 700px;

      > h6 {
        color: var(--primary-accent-color);
        font-size: 25px;
        font-weight: 500;
      }

      > h1 {
        font-size: 65px;
        font-weight: 700;
        line-height: 1;
        color: var(--primary-accent-color);

        .front {
          color: var(--accent-color);
        }

        .dev {
          font-size: 52px;
        }
      }

      > p {
        color: var(--primary-accent-color);
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
      }

      > button {

      }
    }

    .img {
      width: 536px;
      height: 536px;
      border-radius: 50%;

      & > * {
        width: 536px;
        height: 536px;
        border-radius: 50%;
      }
    }
  }
}